---
layout: default
title: Home
slug: home
---

<div class="wallpaper home">
  <p class="catchphrase">Large scale VR Platform</p>
</div>
<div class="rainbow sheet">
  <div class="rainbow-stripe blue">&nbsp;</div>
  <div class="rainbow-stripe green">&nbsp;</div>
  <div class="rainbow-stripe red">&nbsp;</div>
  <div class="rainbow-stripe orange">&nbsp;</div>
</div>

<article class="article sheet">
  <div class="columns">
    <div class="column2">
      <h4>VResh</h4>
    </div>
    <div class="column2">
    </div>
  </div>
</article>

<script type="text/javascript" src="/dist/index.js"></script>
<script type="text/template" class="tpl-member-card">
  <div class="column3">
    <div class="businessCard">
      <div class="thumb" style="background-image: url(<%= member.avatar %>);"></div>
      <div class="content">
        <h4 class="name"><%- member.name %></h4>
        <p class="mission"><%- member.position %></p>
        <% if (member.link) { %>
        <p class="contact nowrap <%- member.contact.toLowerCase() %>">
          <a href="<%- member.link %>" title="<%- member.contact %>"><%- member.contact %></a>
        </p>
        <% } else { %>
        <p class="contact">&nbsp;</p>
        <% } %>
      </div>
    </div>
  </div>
</script>
